
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Error</title>
    <style media="screen">

    body{
background-image: url(result.jpg);
background-size: 100%;
    }
h1{
  font-family: 'Montserrat', sans-serif;
  color: red;
}
    .box{
      position: absolute;
      left :50px;
      top:100px;

    }
    </style>
      <link rel="icon" href="favicon.ico">
  </head>
  <body>
    <div class="box">
    <h1>You have searched for the <%=CoinName%> which is not a valid CryptoCurrency</h1>
    <h1 >So Please Go back and Enter a valid Cryptocurrency</h1>

    </div>

  </body>
</html>
