<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Crypto Price Tracker</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="home_page">
      <div class="search">
        <h1>Search by Currency Name</h1>

        <form action="/" method="post" autocomplete="off">
          <input
            type="text"
            name="coinname"
            class="coin-input"
            placeholder="Search"
          />
          <button type="submit" class="button"><span>Go</span></button>
        </form>
      </div>
    </div>
  </body>
</html>
